<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hwl.universitypie">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        tools:replace="android:name"
        android:name=".DebugApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/BaseAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Second" />

        <service
            android:name=".MyIntentService"
            android:exported="false" />

        <activity android:name=".swipe.SlidToFinishActivity" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/fullScreen" />
        <activity android:name=".ui.ViewpagerActivity" />
        <activity android:name=".ui.ViewShowActivity" />
        <activity android:name=".ui.ViewInflateActivity" />
        <activity android:name=".ui.ShareViewActivity" />
        <activity
            android:name=".ui.ImgShowActivity"
            android:theme="@style/Transparent" />
        <activity android:name=".ui.ImgShowActivity21" />

        <service
            android:name=".ui.TestIntentService"
            android:exported="false" />

        <activity android:name=".ui.IntentServiceActivity" />
        <activity android:name=".ui.RecyclerViewActivity"></activity>
    </application>

</manifest>